<style>
    .d a{
        text-decoration: none;
    }
    h1{
        padding: 15px;
        color: rgb(8, 88, 94);
    }
    .p{
        text-align: center;
    }
    .t{
        text-align: center;
        color: rgb(4, 58, 58);
        font-size: 1.3rem;
    }
</style>
<div class="d"><a href="/home1"> <<</a></div>
<h1>About Our Website</h1>
<div class="p">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos, corrupti consequuntur doloremque quia harum non placeat? Cupiditate incidunt vitae repellat inventore neque voluptatem nesciunt! Perspiciatis provident tenetur dicta sunt minima.
    Natus exercitationem corporis rem. Voluptates cum similique fuga tempore maxime, odio quod cupiditate labore enim pariatur, perspiciatis perferendis non blanditiis, ratione accusamus tenetur molestias eaque minus harum expedita. Voluptas, dolorem.
    Aliquid fuga dicta architecto iste? Labore aperiam nam at dignissimos ex maxime consequuntur exercitationem. Nisi eveniet id atque esse. Iste a quas suscipit eveniet itaque labore quo consequuntur autem nobis!
    Expedita iure ducimus soluta laborum suscipit cumque eaque! Aliquid, quidem? Molestias harum tenetur corporis id voluptatum impedit illo, quas laboriosam enim eius omnis dolore fuga dolor odio esse eos obcaecati?
    Sapiente dicta, consequuntur modi atque cum placeat temporibus optio maiores necessitatibus saepe vel fugit delectus impedit aperiam nihil. Quisquam, error? Dicta magnam eaque impedit consequatur, possimus quidem ipsam! Exercitationem, voluptates.
    Incidunt, possimus. Maxime quo voluptas repellat nostrum voluptatum perferendis asperiores minima quaerat, blanditiis, illo labore quisquam similique tempore at, nemo eligendi molestias unde deserunt tempora sint atque. Nulla, distinctio reiciendis.
    Ad modi quasi ratione voluptatibus quo dignissimos a incidunt earum similique, ducimus molestias, praesentium, maiores asperiores deleniti voluptatum illum quidem eaque neque odit omnis tempora? Ducimus, soluta placeat. Quisquam, assumenda?
    Optio temporibus laboriosam explicabo sed? Rerum error ut quidem in libero eveniet accusamus reprehenderit blanditiis architecto possimus sapiente, deserunt tenetur vel expedita! Fuga, voluptatem libero! Enim quidem ducimus ad sequi!
    Quas et omnis, illo accusamus reprehenderit tempora id libero cum doloremque mollitia, odio provident quos neque! Iure sunt minus asperiores vero est, ea velit, ipsa et autem minima temporibus recusandae?
    Maxime adipisci omnis voluptate. Dignissimos odio praesentium, dicta tempora molestias repudiandae iusto unde libero veritatis aut repellendus tenetur quibusdam eligendi porro vel. Nostrum rem sapiente ipsam animi cum vel consequuntur?
    Magnam ut ratione voluptate fugiat sit eveniet totam vitae officiis consequatur ducimus, eos possimus deserunt suscipit voluptatem at mollitia explicabo optio eum rerum nihil. Officiis, sequi! Quod eius excepturi adipisci.
    Dolore aperiam, aut doloribus vel voluptate fuga ut sequi impedit facilis unde facere, commodi sit est quae ea? Nisi rerum cum animi eius distinctio expedita commodi odio quidem consequatur corporis?
    Assumenda, alias. Dignissimos quam odit neque, quia eligendi maiores iure deserunt sed perspiciatis ex id, obcaecati numquam tempore molestias animi eos sapiente explicabo distinctio facere nemo mollitia blanditiis dolorem delectus!
    Reiciendis voluptate, laudantium rem aut corporis, sint neque non perferendis id provident ipsa, pariatur ad aperiam voluptatum repellendus! Porro magnam autem impedit illo repellat expedita ipsum, modi quia in ea.
    Eaque a soluta assumenda sapiente laboriosam pariatur porro obcaecati consectetur hic id vel aliquid animi explicabo, ducimus expedita architecto adipisci delectus consequuntur itaque eveniet quas. Enim aut molestiae impedit ipsa!
    Corporis autem ipsa a hic nemo consequatur quam molestias ea excepturi tempore sit doloribus, suscipit odit distinctio cupiditate nobis sint quibusdam inventore itaque reprehenderit assumenda. Doloribus cumque voluptas qui placeat?
    Similique et, ut ipsum velit necessitatibus assumenda ullam quas inventore unde dolorum doloribus soluta autem tempora iusto, consequuntur earum voluptatum, temporibus rerum! Adipisci pariatur, est quidem nulla dicta illum reiciendis.
    Porro quasi ratione eos facilis, architecto eveniet mollitia, consectetur modi eum ea tempora tempore aut alias neque magnam voluptates repellat. Error laudantium ab veniam suscipit omnis, officiis eos ad similique.
    Cum maiores id a sit ullam dolorum culpa. Minus, voluptatibus nostrum? Omnis velit vero consequatur doloribus temporibus molestiae facere quaerat fuga, labore perspiciatis sequi in eos, distinctio numquam, ducimus dolore?
    Consequatur neque labore provident blanditiis explicabo impedit, magnam ea dignissimos itaque? Dolore, quis? Ab possimus voluptate iure, harum fugiat consequuntur numquam! Doloremque necessitatibus expedita atque cupiditate repudiandae molestiae exercitationem sint.</p>

</div>
<div class="t">Thank you for visit our website</div>