<style>
    h1{
        text-align: center;
        color: blue;
        padding: 100px;
    }
    p{
        text-align: center;
        margin: -100px;
        color: rgb(5, 111, 111);
    }
</style>
{{>navbar}}
<h1>Thank you for registration</h1>
<p>click here <a href="/">Login</a></p>