<nav class="nav">
    <div class="i">
        <div class="img">
            <a
                href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiL27p9uR_jfODGHKEZb8vQZXHgk4TMtKGbyd7ziL5&s"><img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiL27p9uR_jfODGHKEZb8vQZXHgk4TMtKGbyd7ziL5&s"
                    alt="" class="img1"></a>
        </div>
    </div>
    <div class="b">
        <div class="box">
            <ul>
                <li><a href="#home2">Home</a></li>
                <li><a href="#Services">Services</a></li>
                <li><a href="#Contact">Contact</a></li>
                <li><a href="#About1">About</a></li>
            </ul>
        </div>
    </div>
</nav>
<section class="home" id="home2">
    <div class="home1">
        <div class="w"><b>Welcome to my website</b></div>
        <div class="w1">It’s almost as if everyone lives in their own bubble and everyone and everything outside doesn’t
            matter to them.</div>
        <div class="w2">selflessness and respect for others are one of the most important aspects of life.</div>
    </div>
</section>
<section class="sec" id="Services">
    <h1>Our Services</h1>
    <div class="di">
        <div class="box1" id="bo1">
            <div class="h"> <b> What's new!</b></div>
            <div class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit commodi veritatis temporibus
                natus vitae quis maxime inventore provident porro, aliquid pariatur dolor eum. Voluptatum vitae alias
                cum, amet hic veritatis.
                Dolor iure harum, porro sunt repellat eos tempore veritatis nam labore molestias a, perferendis,
                mollitia voluptatibus facilis perspiciatis atque tenetur laborum quos laboriosam nemo corporis nobis ab.
                Dolores, qui sed.
                Temporibus vero nihil facere error pariatur omnis consequatur deleniti modi dicta mollitia! Quibusdam
                aliquid sed mollitia quasi veniam explicabo ab ducimus fuga tempore. Iusto voluptatem quisquam amet
                porro architecto Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius aliquid perferendis ipsa,
                exercitationem provident laudantium repellat quia explicabo magnam, voluptate blanditiis velit eligendi
                amet reiciendis, eos odit nisi dolor. Dolores! </div>
        </div>
        <div class="box1" id="bo2">
            <div class="h"><b>Features</b></div>
            <div class="para">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem repudiandae minus
                cumque, velit, aliquam, adipisci doloremque ratione dolor eos nihil tenetur. Rem excepturi sequi vitae
                earum recusandae! Ab, laborum nemo.
                Quis natus ullam quos ducimus officiis at nemo sed ab, quam odio quasi exercitationem, provident porro
                quisquam, ipsa vero sequi dolore et perspiciatis earum esse. Libero, at? Saepe, quidem provident.
                Officiis error obcaecati sapiente, recusandae ducimus a reiciendis quo libero consequatur rerum.
                Mollitia voluptate quas eum enim nisi quia quam commodi illo? Animi inventore obcaecati ullam, at optio
                voluptate earum.
                Ex quibusdam quisquam eaque autem saepe? Et, nobis mollitia, iure pariatur debitis quibusdam cupiditate
                maiores sequi tempore earum non. Dolores obcaecati expedita repudiandae consequuntur aliquid optio rem
                pariatur velit cupiditate?</div>
        </div>
        <div class="box1" id="bo3">
            <div class="h"><b>Customer Service</b></div>
            <div class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, tempore unde nulla
                aspernatur ullam temporibus minima expedita, accusantium eius hic neque cupiditate corporis laboriosam
                veritatis nihil nesciunt maxime! Dignissimos, ad!
                Voluptates quisquam, sit pariatur rerum magnam ea expedita excepturi animi et voluptatum perspiciatis
                quidem assumenda dolorum quaerat labore nisi architecto blanditiis? Obcaecati culpa esse ratione
                exercitationem possimus necessitatibus quae quas?
                Repudiandae rem quasi quos corporis fugit quam tempore minima accusamus expedita laborum eaque saepe
                aspernatur illo beatae similique, quas amet non ipsam aperiam perspiciatis veniam quis ducimus numquam
                quidem. Tempore.
                Nesciunt, eligendi eos maxime quam, at, porro maiores ipsa nihil corrupti vel architecto qui voluptatem
                totam consequuntur? Nihil perferendis consequuntur commodi fugit sequi facere minima ducimus
                reprehenderit nesciunt. Vero, nobis!</div>
        </div>
    </div>
</section>
<section class="contact" id="Contact">
    <div class="con1"><b>Our Contact</b></div>
    <div class="con2">
        <div class="co1" id="cont1">
            <div class="h"><b>Contact-1</b></div>
            <ul>
                <li>Address:-Cecilia Chapman
                    711-2880 Nulla St.
                    Mankato Mississippi 96522
                    (257) 563-7401</li>
                <li>linkedin:-https://www.linkedin.com/in/Cecilia</li>
                <li>facebook:-https://www.facebook.com/Cecilia</li>
                <li>instagram:-https://www.instagram.com/Cecilia</li>
                <li>twitter:-https://www.twitter.com/Cecilia</li>
                <li>Email:-somanalikumar154@gmail.com</li>
                <li>Ph no:-5784367845</li>
                <li>Alt no:-8765978065</li>
            </ul>
        </div>
        <div class="co1" id="cont2">
            <div class="h"><b>Contact-1</b></div>
            <ul>
                <li>AddCeleste Slater
                    606-3727 Ullamcorper. Street
                    Roseville NH 11523
                    (786) 713-8616</li>
                <li>linkedin:-https://www.linkedin.com/in/Celeste</li>
                <li>facebook:-https://www.facebook.com/Celeste</li>
                <li>instagram:-https://www.instagram.com/Celeste</li>
                <li>twitter:-https://www.twitter.com/Celeste</li>
                <li>Email:-priyarson654@gmail.com</li>
                <li>Ph no:-9076458976</li>
                <li>Alt no:-4587456798</li>
            </ul>
        </div>
    </div>
</section>
<section class="about" id="About1">
    <h1>About Us</h1>
    <div class="about1">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti facilis necessitatibus commodi vero dolor
            nemo quo quidem itaque ut tempore distinctio eum, ad dolore, accusantium iste quis dolorem? Quasi,
            inventore.
            Enim eveniet aliquid quis ullam vel maxime rem rerum inventore deleniti velit soluta voluptates facere iure,
            sit quisquam quam perferendis pariatur odit maiores consequatur, magnam nemo ipsam facilis eligendi!
            Consequatur? Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi quis vitae sint ipsam possimus
            ex inventore consequuntur soluta nulla qui provident voluptates error, eos quidem expedita. Numquam minima
            facilis odit!.this is very nice website. Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Necessitatibus numquam excepturi aut voluptate sequi vero illum distinctio recusandae eos velit consectetur
            dolore ratione atque, quia accusamus odit pariatur praesentium officiis?Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Iste neque vel perferendis dolores cum blanditiis dolorum, asperiores maxime
            in vitae. Qui repellat sapiente libero. Modi voluptatum corrupti esse dignissimos vitae.
            Tempora deleniti iure quaerat beatae, quas ut velit esse eaque eum provident consectetur qui voluptate
            consequatur veritatis unde mollitia architecto minima. Corporis fugit totam impedit eos, dolorem facere
            laboriosam Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, in sint? Eligendi a repellat,
            ea dolores eius et velit eos facere. Fuga dignissimos esse quos reprehenderit vero sapiente aliquid
            architecto! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod nostrum laboriosam aperiam nisi!
            Commodi, molestias ipsa ipsam ipsum quisquam minima, dolorem animi hic similique veritatis iste sapiente rem
            quasi autem?
            Accusamus maiores neque corporis fugiat molestias possimus dicta excepturi odit deleniti, laudantium,
            praesentium voluptas temporibus, earum quas ipsum. Hic officia nostrum nulla, quibusdam excepturi maxime
            temporibus veritatis animi unde sunt. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora
            minima quod libero accusamus, at labore perferendis temporibus cumque deserunt odio dolores veniam iusto
            dolore sint fuga voluptatibus sit earum debitis.
            Explicabo rem quod praesentium adipisci delectus natus aperiam aspernatur consequatur cum, fugit odio
            nostrum laudantium ut quibusdam quia, veritatis id a recusandae optio! Tenetur quidem natus dignissimos
            consequuntur maiores necessitatibus?</p>
        <p>you want to read <a href="/about">more.</a></p>
    </div>
</section>
<footer>
    <div class="center">
        copyright &copy; www.myOnlinewebsite.com. all right reserved!
    </div>
</footer>