<style>
    html{
        overflow: hidden;
    }
     .body{
            margin: 0px;
            padding: 0px;
        }
        .nav{
            background-color: rgb(219, 250, 215);
            padding: 15px;
            text-align: right;
            width: 98%;
        }
        ul li {
            display: inline;
            text-decoration: none;
            padding: 10px;
        }
        ul li a{
            text-decoration: none;
            
        }
        ul li a:hover{
            cursor: pointer;
            color: aqua;
        }
        ul li a:focus{
            background-color: white;
        }
        </style>

<div class="nav">
        <ul>
            <li><a href="/" id="st">Login</a></li>
            <li><a href="/register" id="sty">Registration</a></li>
        </ul>
</div>